---
const models = [
  {
    id: 1,
    name: "GLACIER WHITE PUFFER",
    price: 1299.99,
    img: "/images/model1.png"
  },
  {
    id: 2,
    name: "POLAR GLOSS JACKET",
    price: 899.99,
    img: "/images/model2.png"
  },
  {
    id: 3,
    name: "STEALTH BLACK HEAVY",
    price: 1199.99,
    img: "/images/model3.png"
  },
  {
    id: 4,
    name: "ICEFIELD BLUE TECH",
    price: 999.99,
    img: "/images/model4.png"
  },
  {
    id: 5,
    name: "POLAR WHITE SHELL",
    price: 1499.99,
    img: "/images/model5.png"
  }
];
---

<section
  class="relative h-screen overflow-hidden bg-black"
>

  <div
    id="runway-stage"
    class="absolute inset-0"
  >

    {models.map((model) => (

      <div
        class="runway-model absolute left-1/2 top-1/2"
        data-id={model.id}
        data-name={model.name}
        data-price={model.price}
        data-img={model.img}
      >

        <img
          src={model.img}
          alt={model.name}
          class="pointer-events-none"
        />

      </div>

    ))}

  </div>

  <aside
    class="absolute right-12 top-1/2 -translate-y-1/2 w-[320px]"
  >

    <img
      id="panel-img"
      src={models[0].img}
      class="w-full"
    />

    <h2
      id="panel-name"
    >
      {models[0].name}
    </h2>

    <p
      id="panel-price"
    >
      ${models[0].price}
    </p>

  </aside>

</section>

<script>

import { gsap } from "gsap";
import { Draggable } from "gsap/Draggable";

gsap.registerPlugin(
  Draggable
);

const cards =
[
  ...document.querySelectorAll(
    ".runway-model"
  )
];

const panelImg =
document.getElementById(
  "panel-img"
);

const panelName =
document.getElementById(
  "panel-name"
);

const panelPrice =
document.getElementById(
  "panel-price"
);

const slots =
[
  {
    x: -850,
    y: -140,
    scale: 0.22,
    opacity: 0.15,
    rotation: -10,
    z: 1
  },

  {
    x: -520,
    y: -90,
    scale: 0.42,
    opacity: 0.35,
    rotation: -7,
    z: 2
  },

  {
    x: -180,
    y: -40,
    scale: 0.72,
    opacity: 0.65,
    rotation: -4,
    z: 3
  },

  {
    x: 180,
    y: 0,
    scale: 1.05,
    opacity: 0.95,
    rotation: -1,
    z: 4
  },

  {
    x: 560,
    y: 20,
    scale: 1.45,
    opacity: 1,
    rotation: 0,
    z: 10
  }
];

let activeIndex = 0;

function updatePanel() {

  const card =
    cards[activeIndex];

  gsap.to(
    [
      panelImg,
      panelName,
      panelPrice
    ],
    {
      opacity: 0,
      duration: 0.15,

      onComplete() {

        panelImg.src =
          card.dataset.img;

        panelName.textContent =
          card.dataset.name;

        panelPrice.textContent =
          `$${card.dataset.price}`;

        gsap.to(
          [
            panelImg,
            panelName,
            panelPrice
          ],
          {
            opacity: 1,
            duration: 0.25
          }
        );
      }
    }
  );
}

function render() {

  cards.forEach(
    (card, index) => {

      const relative =
        (
          index -
          activeIndex +
          cards.length
        ) %
        cards.length;

      const slot =
        slots[relative];

      gsap.to(
        card,
        {
          x: slot.x,
          y: slot.y,
          scale: slot.scale,
          opacity: slot.opacity,
          rotation: slot.rotation,
          zIndex: slot.z,
          duration: 0.9,
          ease: "power3.out"
        }
      );
    }
  );

  updatePanel();
}

function next() {

  activeIndex++;

  if (
    activeIndex >= cards.length
  ) {
    activeIndex = 0;
  }

  render();
}

function prev() {

  activeIndex--;

  if (
    activeIndex < 0
  ) {
    activeIndex =
      cards.length - 1;
  }

  render();
}

Draggable.create(
  "#runway-stage",
  {
    type: "x",

    inertia: false,

    minimumMovement: 30,

    onDragEnd() {

      if (
        this.endX <
        this.startX
      ) {

        next();

      } else {

        prev();
      }

      gsap.set(
        this.target,
        {
          x: 0
        }
      );
    }
  }
);

render();

</script>
